/* HEADER */
#header-nav {
    /* position: relative; */
    background-color: darkgray;
    /* padding: 10px 0 10px 0; */
}

#header-nav .container {
    margin-left: 0;
    /* margin-bottom: -8px; */
}

.navbar-header {
    margin-bottom: 0;
}

.navbar-header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-brand h1 {
    position: absolute;
    color: black;
    font-size: 2em;
    top: 15px;
    left: 30px;
    bottom: 0;
    line-height: 0.6;
}

#nav-list {
    margin-top: 0;
    margin-bottom: 0;
}

#nav-list li {
    background-color: whitesmoke;
}

#nav-list a {
    color: black;
    font-size: 1.5em;
}

#nav-list a:hover {
    color: white;
    background: black;
}

.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
    border: 1px solid black;
}

.navbar-header button.navbar-toggle {
    clear: right;
    /* margin-top: 20px;
    margin-bottom: 20px; */
}

/* EMD OF HEADER */

/* JUMBOTRON */
#main-content {
    width: 100%;
    position: relative;
    left: 0;
    right: 0;
    bottom: 20px;
}

#main-content .menu-list {
    padding: 15px 25px;
    background-color: darkgray;
}

#menu-detail {
    margin: 0;
    padding: 0;
}

.menu-list h2 {
    color: black;
    margin-top: 0px;
    margin-bottom: 15px;
}

.our-menu {
    color: black;
    margin-bottom: 35px;
}

.navbar-brand h1,
.menu-list h2,
.our-menu h1 {
    font-weight: bold;
}

.menu-list span {
    color: black;
    font-size: 18px;
}

/* END OF JUMBOTRON */